<a href="https://colab.research.google.com/github/nishithewel/ID5059GroupProject/blob/anli_1/ID5059_ieee_fraud_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Initial setup to download dataset from KAggle.

In [ ]:
!pip install -q kaggle

Please follow the steps below to download and use kaggle data within Google Colab:

1. Go to your account, Scroll to API section and Click Expire API Token to remove previous tokens

2. Click on Create New API Token - It will download kaggle.json file on your machine

3. Upload the kaggle.json by running below code cell.

In [ ]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"anlihu","key":"c0ef035c4a9e1d5a852ce1fab4c73cb3"}'}

In [10]:
! rm -rf sample_data
!mkdir  -p /root/.kaggle/
!mv kaggle.json  /root/.kaggle/
!chmod 600 /root/.kaggle/kaggle.json
! ls -lart /root/.kaggle/
!kaggle competitions download -c 'ieee-fraud-detection'
! mkdir data
! mv ieee-fraud-detection.zip data/
! unzip data/ieee-fraud-detection.zip -d data/

total 16
drwx------ 1 root root 4096 Mar 18 18:33 ..
-rw------- 1 root root   62 Mar 18 18:40 kaggle.json
drwxr-xr-x 2 root root 4096 Mar 18 18:40 .
Downloading ieee-fraud-detection.zip to /content
 98% 116M/118M [00:01<00:00, 64.6MB/s]
100% 118M/118M [00:01<00:00, 86.7MB/s]
mkdir: cannot create directory ‘data’: File exists
Archive:  data/ieee-fraud-detection.zip
replace data/sample_submission.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import f1_score
import matplotlib.pyplot as plt
from scipy import stats

In [ ]:
train_identity, train_transaction = pd.read_csv('data/train_identity.csv'), pd.read_csv('data/train_transaction.csv')
train_identity.head()

,TransactionID,id_01,id_02,id_03,id_04,id_05,id_06,id_07,id_08,id_09,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,2987004,0.0,70787.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M
1,2987008,-5.0,98945.0,NaN,NaN,0.0,-5.0,NaN,NaN,NaN,...,mobile safari 11.0,32.0,1334x750,match_status:1,T,F,F,T,mobile,iOS Device
2,2987010,-5.0,191631.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,chrome 62.0,NaN,NaN,NaN,F,F,T,T,desktop,Windows
3,2987011,-5.0,221832.0,NaN,NaN,0.0,-6.0,NaN,NaN,NaN,...,chrome 62.0,NaN,NaN,NaN,F,F,T,T,desktop,NaN
4,2987016,0.0,7460.0,0.0,0.0,1.0,0.0,NaN,NaN,0.0,...,chrome 62.0,24.0,1280x800,match_status:2,T,F,T,T,desktop,MacOS

In [11]:
1+1

2